urllib3~=1.26.6
requests~=2.26.0
bs4~=0.0.1
html5lib
pillow~=8.3.2
spoofbot~=1.0.2
pbincli~=0.3.1
hurry.filesize
brotli
publicsuffix2
hurry~=1.1
#cfscrape
setuptools~=53.0.0
beautifulsoup4~=4.9.3
pycryptodome